@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/reality-hyper");

$main_fonts: "Darker Grotesque", sans-serif;
$secondary_fonts: "Poppins", sans-serif;
$logo_fonts: "Reality Hyper", sans-serif;
$main_font_color: white;
$hover_color: #EB4C56;
$main_section_font_color: black;
$main_baner_background: rgb(23, 22, 22);
$main_baner_gray_box: #2f2e30;
$main_baner_btn_color_bg: #EB4C56;
$btn_main_section: #2f2e30;
$footer_bg_color: #2f2e30;
$fill_svg_body_color: white;
$box_shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 4px #ffffff, 0 0 7px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000;





* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $main_fonts;
    list-style-type: none;
    text-decoration: none;
}

img:hover {
    box-shadow: $box_shadow ;
    cursor: pointer;
}

.text_hover:hover {
    color: $hover_color;
    cursor: pointer;
    // border-bottom: 1px solid $hover_color;
    width: fit-content;
    text-shadow: $box_shadow;
}

.animation:hover {
    transform: scale(1.1);
    transition-duration: 0.9s;
}

.fill_red:hover {
    fill: $hover_color;
    cursor: pointer;

}

.svg {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: 24px;
    height: 24px;
}

body {

    height: 100vh;
    display: grid;
    // overflow-x: hidden;
}

.header {
    width: 100%;
    min-height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: $main_section_font_color;
    align-items: center;
    color: $main_font_color;
    padding: 0 6vw;
    border-bottom: 1px solid $main_font_color;

    .header_icon {
        display: grid;
        gap: 20px;
        grid-auto-flow: column;
        justify-self: end;

        svg {
            width: 24px;
            height: 24px;
            fill: $main_font_color;
            cursor: pointer;


        }
    }

    .nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        cursor: pointer;
    }
}

.main_baner {
    color: white;
    background-color: $main_baner_background;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    gap: 40px;

    .baner_content_box {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-areas:
            "baner_icon  logo_text1 "
            "baner_icon  logo_text2 "
            "baner_icon  baner_desc"
            "baner_icon  baner_btn"
            "baner_icon  iframe";

        .logo_text1 {
            grid-area: logo_text1;
            width: fit-content;
            font-size: 105px;
            font-weight: 700;
            align-self: end;
            justify-items: end;
            z-index: 9;
        }

        .logo_text2 {
            grid-area: logo_text2;
            width: fit-content;
            align-self: end;
            justify-self: start;
            margin-left: 189px;
            font-size: 50px;
            line-height: 50px;
            text-align: start;
            z-index: 8;
        }

        .baner_desc {
            grid-area: baner_desc;
            width: 388px;
            font-size: 22px;
            font-weight: 300;
            line-height: 22px;
            text-align: left;
            margin: 40px 0;
            z-index: 6;
        }

        .baner_btn {
            grid-area: baner_btn;
            font-size: 20px;
            width: 151px;
            height: 57px;
            padding: 15px 32px;
            align-self: center;
            justify-self: start;
            text-align: center;
            background-color: $main_baner_btn_color_bg;
            text-decoration: none;
            color: $main_font_color;
            z-index: 5;
            cursor: pointer;
        }

        iframe {
            grid-area: iframe;
            width: 152px;
            align-self: center;
            justify-self: center;
            height: 100px;
            margin-top: 93px;
            margin-bottom: 121px;
            z-index: 4;
        }

        .baner_icon {
            grid-area: baner_icon;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: end;
            gap: 24px;
            margin: 0px 40px 60px 70px;



            svg {
                fill: $main_font_color;
                width: 24px;
                height: 24px;

                &:hover {
                    box-shadow: $box_shadow;
                    border: 1px solid $hover_color;
                    border-radius: 50%;
                }
            }
        }
    }

    .baner_img_box {
        width: 100%;
        position: relative;

        .baner_gray_box {
            width: 100%;
            height: 80%;
            background-color: $main_baner_gray_box;
            align-items: center;
            justify-self: end;
        }

        .baner_img {
            position: absolute;
            box-shadow: none;
            width: 700px;
            height: 530px;
            top: 0;
            right: 0px;
        }
    }
}

.bike_container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto;
    gap: 0px 51px;
    margin-top: 100px;

    .category_description_box {

        display: grid;
        grid-auto-columns: 2fr;
        grid-template-columns: 1fr 1fr;
        gap: 0px 0px;
        margin-bottom: 20px;


        .bike_category_title {
            height: fit-content;
            width: fit-content;
            font-family: Butler;
            font-size: 64px;
            font-weight: 500;
            text-align: left;

        }

        .category_nav {
            height: fit-content;
            justify-self: center;


            .nav_title {
                height: fit-content;
                font-family: Lota Grotesque;
                font-size: 28px;
                font-weight: 500;
                line-height: 39.2px;
            }

            .bike_category_nav {
                font-family: Lota Grotesque;
                font-size: 18px;
                font-weight: 400;
                text-align: left;


                li {
                    margin-top: 10px;
                }
            }
        }
    }

    .bike_category_card {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr 0.5fr;
        grid-auto-rows: 1fr;
        gap: 0px 50px;
        grid-auto-flow: row;
        grid-template-areas:
            "bike_card_left bike_card_right"
            "card_navigation bike_card_right";
    }

    .bike_card_left {
        grid-area: bike_card_left;
        width: 100%;
    }

    .bike_card_right {
        grid-area: bike_card_right;
        width: 100%;
    }

    .card_navigation {
        grid-area: card_navigation;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        height: fit-content;
        position: relative;

        .card_navigation_item::before {
            content: url(/img/line.png);


        }

        .card_navigation_item::after {
            content: url(/img/line.png);

        }
    }
}

.card_price_container {
    width: 100%;
    margin: 50px auto;

    .card_price_description {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "card_price_title card_price_article";
    }

    .card_price_title {
        grid-area: card_price_title;
        font-size: 54px;

        font-weight: 500;
        text-align: left;
    }

    .card_price_article {
        grid-area: card_price_article;
        font-size: 22px;
        font-weight: 300;
        line-height: 33px;
        justify-self: center;
        text-align: left;
    }

    .card_price_box {
        width: 90%;
        height: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 50px;
        grid-template-areas: "card_price_item1 card_price_item2";
    }

    .card_price_item1 {
        grid-area: card_price_item1;
        position: relative;
        width: 100%;

        .card_price_img {
            width: 100%;
        }
    }

    .price_title {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
    }

    .price {
        position: absolute;
        top: 30px;
        left: 10px;
        z-index: 2;
    }

    .card_price_item2 {
        grid-area: card_price_item2;
        position: relative;
        width: 100%;
        height: auto;

        .card_price_img {
            width: 100%;
        }
    }

    .card_price_box2 {
        width: 80%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        grid-template-rows: 1fr;
        column-gap: 50px;
        justify-items: end;
        grid-template-areas: "card_price_item3 card_price_item4";
    }

    .card_price_item3 {
        grid-area: card_price_item3;
        position: relative;
        width: 100%;


        .card_price_img {
            width: 100%;
        }
    }

    .card_price_item4 {
        grid-area: card_price_item4;
        position: relative;
        width: 100%;


        .card_price_img {
            width: 100%;
        }

        svg {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 2;
            width: 24px;
            height: 24px;


        }

    }

    .card_price_btn {
        display: flex;
        width: 156px;
        height: 57px;
        padding: 12px 32px 12px 32px;
        border: 1px solid $main_section_font_color;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        color: $btn_main_section;
    }
}

.information_baner {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1.4fr 0.6fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
        "information_baner_logo information_baner_logo information_baner_logo"
        "information_baner_card information_baner_card information_baner_card"
        "information_baner_desc information_baner_desc information_baner_desc";

    .information_baner_logo {
        grid-area: information_baner_logo;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        gap: 0 10px;
        margin-bottom: 40px;
        grid-template-areas: "logo_item1 logo_item2 logo_item3 logo_item4 logo_item5 logo_item6";

        .logo_item1 {
            grid-area: logo_item1;
        }

        .logo_item2 {
            grid-area: logo_item2;
        }

        .logo_item3 {
            grid-area: logo_item3;
        }

        .logo_item4 {
            grid-area: logo_item4;
        }

        .logo_item5 {
            grid-area: logo_item5;
        }

        .logo_item6 {
            grid-area: logo_item6;
        }



    }

    .information_baner_card {
        display: grid;
        height: fit-content;
        grid-area: information_baner_card;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.2fr 0.9fr 0.6fr;
        gap: 0px 80px;
        grid-template-areas:
            "information_baner_img baner_card_title"
            "information_baner_img baner_card_decs"
            "information_baner_img baner_card_nav";

        .information_baner_img {

            align-self: center;
            justify-self: center;
            width: 100%;

            grid-area: information_baner_img;

        }

        .baner_card_title {
            grid-area: baner_card_title;
            align-self: flex-end;
            font-family: Butler;
            font-size: 40px;
            font-weight: 500;
            text-align: left;
        }

        .baner_card_decs {
            grid-area: baner_card_decs;
            font-family: Lota Grotesque;
            align-self: center;
            max-width: 430px;
            font-size: 22px;
            font-weight: 300;
            text-align: left;
            height: fit-content;
            margin-bottom: 10px;
        }

        .baner_card_nav {
            grid-area: baner_card_nav;
            align-items: start;
            font-family: Lota Grotesque;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            text-align: left;
            align-items: flex-start;
            height: fit-content;
        }
    }

    .information_baner_desc {
        width: 100%;
        grid-area: information_baner_desc;
        display: grid;
        grid-auto-flow: column;
        justify-self: center;
        gap: 0 30px;

        .baner_desc_item {
            width: 100%;
            justify-self: center;

        }

        .description_title1,
        .description_title2,
        .description_title3 {
            text-align: left;
            font-family: Butler;
            font-size: 28px;
            font-weight: 500;
            text-align: left;
            margin: 90px 0 24px 0;
        }

        .decription_text1,
        .decription_text2,
        .decription_text3 {
            text-align: left;
            font-size: 22px;
            font-weight: 300;
            line-height: 33px;
            text-align: left;
            margin-bottom: 100px;
        }
    }
}

.footer {
    align-items: center;
    justify-items: center;
    width: 100%;
    background-color: $footer_bg_color;
    min-height: 453px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "footer_registration footer_company_list footer_support_list";

    .footer_li {
        font-family: Lota Grotesque;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        text-align: left;
        margin-bottom: 5px;
    }


    .footer_registration {
        width: fit-content;
        grid-area: footer_registration;
        justify-items: center;
        margin-left: 10px;

        .register_title {
            color: $main_font_color;
            font-family: Lota Grotesque;
            font-size: 24px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            margin-bottom: 26px;
        }

        .footer_input {

            color: $main_font_color;
            width: 300px;
            font-family: Lota Grotesque;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: left;
            background-color: rgb(229, 228, 228);
            border: none;
            margin-bottom: 112px;


            .footer_input:placeholder-shown {
                color: $main_font_color;
            }
        }

        .footer_simbol_list {
            width: 100%;
            display: flex;

            li {

                width: 40px;
                height: 40px;
                background-color: gray;
                border-radius: 50%;
                position: relative;
                margin-right: 12px;
                cursor: pointer;

                &:hover {
                    box-shadow: $box_shadow;

                }

                &:hover>svg {
                    fill: $hover_color;

                }

                svg {
                    position: absolute;
                    top: 11px;
                    left: 11px;
                    width: 17px;
                    height: 17px;
                    fill: white;
                }
            }
        }
    }

    .footer_company_list {
        grid-area: footer_company_list;
        color: $main_font_color;


        .company_title {
            margin-bottom: 26px;
            font-family: Lota Grotesque;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
        }
    }

    .footer_support_list {
        grid-area: footer_support_list;
        color: $main_font_color;
        width: 100%;

        .support_title {
            margin-bottom: 26px;
            font-family: Lota Grotesque;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;


        }

    }

}


@media(max-width:600px) {
    .header {
        position: relative;
        padding: 0;

        .nav {

            grid-template-columns: repeat(3, 0.4fr);
            justify-self: center;
            gap: 0 10px;

        }

        .header_icon {
            gap: 0 3px;
        }
    }

    .main_baner {
        grid-template-columns: 1fr;
        padding: 20px;

        .baner_content_box {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
                "logo_text1 "
                "logo_text2  "
                "baner_desc"
                "iframe"
                "baner_btn"
                "baner_icon ";



            .logo_text1,
            .logo_text2,
            .baner_btn {
                align-items: start;
                text-align: right;
            }

            .baner_icon {
                justify-self: start;
                flex-direction: row;
                align-items: end;
                margin: 0;


            }

            .baner_btn {
                justify-self: center;
                margin-bottom: 40px;

            }
        }

        .baner_img_box {

            .baner_gray_box {
                display: none;
            }

            .baner_img {

                position: absolute;
                width: 100%;
                top: -800px;
                left: 0;
                z-index: 1;
            }
        }
    }

    .bike_container {
        width: 100%;

        .category_description_box {

            .bike_category_title {
                margin-left: 5px;
                font-size: 34px;
                align-self: center;
            }
        }

        .bike_category_card {

            grid-template-columns: 1fr;
            grid-template-rows: 0.8fr 0.2fr 1fr;
            grid-template-areas:
                "bike_card_left"
                "card_navigation"
                "bike_card_right";
        }

        .card_price_container {
            .card_price_title {
                grid-area: card_price_title;
                font-size: 34px;
                font-weight: 500;
                font-family: Butler;
                align-self: center;
            }
        }
    }

    .information_baner {
        width: 100%;

        .information_baner_logo {
            justify-self: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: "logo_item1 logo_item2"
                "logo_item3 logo_item4"
                " logo_item5 logo_item6";
            gap: 0 20px;
            margin: 0;
        }

        .information_baner_card {
            width: 100%;
            justify-items: center;
            display: grid;
            grid-area: information_baner_card;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            gap: 0px 0px;
            grid-template-areas:
                "baner_card_title"
                "information_baner_img"
                "information_baner_img "
                "information_baner_img "
                "baner_card_decs"
                "baner_card_nav";

            .baner_card_title {
                margin-bottom: 10px;
            }
        }

        .information_baner_desc {
            width: 90%;
            justify-items: center;
            grid-area: information_baner_desc;
            display: grid;
            grid-auto-flow: row;
            margin-bottom: 20px;

            .baner_desc_item {


                .description_title1,
                .decription_text1,
                .decription_text2,
                .decription_text3,
                .description_title2,
                .description_title3 {
                    margin: 0;
                    text-align: center;

                }
            }
        }

    }

    .card_price_container {
        .card_price_box {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.8fr 1.2fr;
            grid-template-areas: "card_price_item1"
                " card_price_item2";
        }

        .card_price_box2 {
            width: 100%;
            display: grid;
            margin: 0;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "card_price_item3"
                "card_price_item4";
        }
    }

    .footer {
        align-items: center;
        justify-items: center;
        width: 100%;
        min-height: 150px;
        background-color: #2f2e30;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: "footer_registration ";

        .footer_registration {
            .footer_input {
                margin-bottom: 20px;
            }

            .footer_simbol_list {
                width: 100%;
                justify-content: center;
            }

        }

        .footer_company_list,
        .footer_support_list {
            display: none;
        }


    }
}

@media(min-width:601px) and (max-width:860px) {
    .information_baner {
        .information_baner_logo {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "logo_item1 logo_item2 logo_item3"
                "logo_item4 logo_item5 logo_item6";
            gap: 0 10px;
        }

        .information_baner_desc {
            gap: 0 10px;
        }
    }
}